<!DOCTYPE html>
<html lang="en" id="dp">
  <head>
    <% include ../../pages/head %>
  </head>
<body>
    <% include ../../pages/privacy/navigation %>
    <div class="content" style="margin-top:2%;">
        <div class="privacy_start" style="text-align:center;">
          <h1 style="font-size:45px">&#x1F512;</h1>
          <h1 style="font-size:35px;margin-top:-15px;font-family: 'Gloria Hallelujah', cursive;">Privacy</h1>
        </div>

        <div class="ui one column stackable center aligned page grid" style="margin-top:20px">
          <div class="ui huge floating message" style="width:1000px;">
            <div class="column twelve wide">
              <h2>Privacy</h2>
              <p>We care much about your privacy, that's why we created this page to give you an overview of which content of your profile are available for others.</p>
            </div>
          </div>
        </div>
    </div>
  
    <% include ../../pages/footer %>
   
    </div>
</body>
	<script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
	<script src="http://langtalk-development-1-jlange0102670038.codeanyapp.com/js/framework.js"></script>
	<script src="https://semantic-ui.com/dist/semantic.min.js"></script>
  <script>
  $('.ui.dropdown')
  .dropdown();</script>
</html>
 