		<% if (user == 1) { %>
        <div class="main_bg" id="bg_div" onload="changeDivImage()" style="color:white;">  
        <div class="ui secondary menu container" style="font-size:16px;">
          <div class="active item" style="color:white;">Oreagon - Privacy</div>
              <a href="/" class="item" style="color:white;">Home</a>
              <a href="/terms" class="item" style="color:white;">Terms</a>
              <a href="/about" class="item" style="color:white;">About us</a>
        </div>
    </div>
    <% } else { %>
    <div class="main_bg" id="bg_div" onload="changeDivImage()" style="color:white;">	
        <div class="ui secondary menu container" style="font-size:16px;">
          <div class="active item" style="color:white;">Oreagon - Privacy</div>
        		  <a href="/" class="item" style="color:white;">Home</a>
              <a href="/terms" class="item" style="color:white;">Terms</a>
              <a href="/about" class="item" style="color:white;">About us</a>
        </div>
    </div>
    <% } %>

