<!DOCTYPE html>
<html lang="en" id="dp">
  <head>
    <% include ../pages/head %>
  </head>
<body>
    <% include ../pages/navigation %>
    <div class="content" style="margin-top:2%;">
        <div class="aboutus_start" style="text-align:center;">
          <h1 style="font-size:45px">&#x1F60E;</h1>
          <h1 style="font-size:35px;margin-top:-15px;font-family: 'Gloria Hallelujah', cursive;">About us</h1>
        </div>

        <div class="ui one column stackable center aligned page grid" style="margin-top:20px">
           <div class="ui huge floating message" style="width:600px;">
            <div class="column twelve wide">
              <h2>Our team</h2>
              <p><a href="/profile/1"><i>Justin Lange</i></a><br />@Founder, @Manager, @Developer for the website, iOS application and API's.</p>
              <!-- <p><p href="/profile/2"><i>Max Weiner (NOT ACTIVE)</i></p>@Co-Founder, @Developer for the Android application.</p> -->
            </div>
          </div>
          <br />
          <div class="ui huge floating message" style="width:600px;">
            <div class="column twelve wide">
              <h2>What is <strong>Oreagon</strong>?</h2>
              <p>Oreagon is a online social network, to connect native speakers and learners around the world together;/ we
              are trying to build a large community to make learning new language easier than it ever was.<br />We are looking forward to implement many amazing features!</p>
            </div>
          </div>
          <br />
          <div class="ui huge floating message" style="width:600px;">
            <div class="column twelve wide">
              <h2>Which technologies do we use?</h2>
              <p>Our website is written in <strong>Node.js</strong>, we use <strong>MySQL</strong> for our database. All of our servers are running with
                <strong>Linux</strong>, which are hosted on <strong>Microsoft Azure</strong>.</p>
              <p>The iOS application is written in <strong>Swift</strong>, we developed an own API in <strong>Node.js</strong> for our databae communication.</p>
              <p>Our Android application is written in <strong>Java</strong>, same as the iOS application we use our own developed API for the database communication.</p>
              <p>Interested in developing? Check out our <a href="/careers/">careers</a> and <a href="/developers/">developers</a> page!</p>
            </div>
          </div>
        </div>
    </div>
  
     <% include ../pages/footer %>
</body>
	<script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
	<script src="http://langtalk-development-1-jlange0102670038.codeanyapp.com/js/framework.js"></script>
	<script src="https://semantic-ui.com/dist/semantic.min.js"></script>
  <script>
  $('.ui.dropdown')
  .dropdown();</script>
</html>
 