<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../pages/head %>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="bg-img">
        <div class="body body-s">
            <form action="/login" method="post" class="sky-form">
                <header>Sign In</header>
                <fieldset>   
                    <section>
                        <div class="row">
                            <label class="label col col-4">Email:</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="email" name="email">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Password:</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="password" name="password">
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <input type="submit" name="login" class="button" value="Sign In">
                    <a href="/signup" class="button button-secondary">Create a new account</a>
                </footer>
                <a href="/password/reset" align="right" style="color:white;float: right;margin-right:6px;text-decoration: none;">Forgot password?</a>
                <br />
            </form>
        </div>
    </body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</html>        