
<!DOCTYPE html>
<html lang="en" id="dp">
  <head>
    <% include ../pages/head %>
  </head>
<body>
    <% include ../pages/navigation %>
    <center style="margin-top:2%;">
        <h1>Arrrrrgh! &#x1F621; <br />We didn't find this page.   &#x1F625;</h1>
        <h2>Stay calm! &#x1F609; Maybe it's just because you followed a dead link.  &#x1F601;</h2>
        <a href="/" style="font-size:18px;" class="ui blue button">< Back to main page</a> 
    </center>
  
     <% include ../pages/footer %>
   
    </div>
</body>
	<script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
	<script src="http://langtalk-development-1-jlange0102670038.codeanyapp.com/js/framework.js"></script>
	<script src="https://semantic-ui.com/dist/semantic.min.js"></script>
  <script>
  $('.ui.dropdown')
  .dropdown();</script>
</html>
 