<!DOCTYPE html>
<html lang="en" id="dp">
  <head>
    <% include ../../pages/head %>
  </head>
<body>
    <% include ../../pages/terms/navigation %>
    <div class="content" style="margin-top:2%;">
        <div class="aboutus_start" style="text-align:center;">
          <h1 style="font-size:35px;margin-top:-15px;font-family: 'Gloria Hallelujah', cursive;">Terms of Use</h1>
        </div>
        <div class="updated_terms_text" style="text-align:center;">
            <p>Date of Last Revision: January 12, 2018</p>
        </div>
        <div class="please_read_terms_of_use" style="text-align:center;margin-top:2%;font-style:bold;">
            <p>
PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS.<br /> THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED.</p>
        </div>
        <div class="ui one column stackable center aligned page grid" style="margin-top:20px">
          <div class="ui huge floating message" style="width:1000px;">
            <div class="column twelve wide">
              <h2>Oreagon</h2>
              <p>Welcome to Oreagon, a social utility that connects you with the people around you.<br /> The Oreagon service and network (collectively, "Oreagon" or "the Service") are operated by Oreagon, Inc. and its corporate affiliates (collectively, "us", "we" or "the Company"). <br /><br />By accessing or using our web site at www.oreagon.com or the mobile version thereof (together the "Site") or by posting a Share Button on your site, you (the "User") signify that you have read, understand and agree to be bound by these Terms of Use ("Terms of Use" or "Agreement"), whether or not you are a registered member of Oreagon.<br /><br /> We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice.<br /> If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the date these terms were last revised.<br /> Your continued use of the Service or the Site after any such changes constitutes your acceptance of the new Terms of Use.<br /><br /> If you do not agree to abide by these or any future Terms of Use, do not use or access (or continue to use or access) the Service or the Site.<br /><br /> It is your responsibility to regularly check the Site to determine if there have been changes to these Terms of Use and to review such changes.<br /></p>
            </div>
          </div>
          <div class="ui huge floating message" style="width:1000px;">
            <div class="column twelve wide">
              <h2>Eligibility</h2>
              <p>
                Membership in the Service is void where prohibited.<br /><br /> This Site is intended solely for users who are thirteen (13) years of age or older, and users of the Site under 18 who are currently in high school or college.<br /><br /> Any registration by, use of or access to the Site by anyone under 13, or by anyone who is under 18 and not in high school or college, is unauthorized, unlicensed and in violation of these Terms of Use.<br /><br /> By using the Service or the Site, you represent and warrant that you are 13 or older and in high school or college, or else that you are 18 or older, and that you agree to and to abide by all of the terms and conditions of this Agreement.
              </p>
            </div>
          </div>
          <div class="ui huge floating message" style="width:1000px;">
            <div class="column twelve wide">
              <h2>Proprietary Rights in Site Content; Limited License</h2>
              <p>
               All content on the Site and available through the Service, including designs, text, graphics, pictures, video, information, applications, software, music, sound and other files, and their selection and arrangement (the "Site Content"), are the proprietary property of the Company, its users or its licensors with all rights reserved.<br /><br /> No Site Content may be modified, copied, distributed, framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, without the Company's prior written permission, except that the foregoing does not apply to your own User Content (as defined below) that you legally post on the Site.<br /><br /> Provided that you are eligible for use of the Site, you are granted a limited license to access and use the Site and the Site Content and to download or print a copy of any portion of the Site Content to which you have properly gained access solely for your personal, non-commercial use, provided that you keep all copyright or other proprietary notices intact.<br /><br /> Except for your own User Content, you may not upload or republish Site Content on any Internet, Intranet or Extranet site or incorporate the information in any other database or compilation, and any other use of the Site Content is strictly prohibited.<br /><br /> Such license is subject to these Terms of Use and does not permit use of any data mining, robots, scraping or similar data gathering or extraction methods.<br /><br /> Any use of the Site or the Site Content other than as specifically authorized herein, without the prior written permission of Company, is strictly prohibited and will terminate the license granted herein.<br /><br /> Such unauthorized use may also violate applicable laws including copyright and trademark laws and applicable communications regulations and statutes.<br /><br /> Unless explicitly stated herein, nothing in these Terms of Use shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise.<br /><br /> This license is revocable at any time without notice and with or without cause.
              </p>
            </div>
          </div>
          <div class="ui huge floating message" style="width:1000px;">
            <div class="column twelve wide">
              <h2>Trademarks</h2>
              <p>Oreagon, OREAGON and other Company graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, trademarks or trade dress of Company in the U.S. and/or other countries.<br /><br /> Company's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of the Company.
              </p>
            </div>
          </div>
        </div>
        <!--- <a href="/" style="font-size:22px;">< Back to home</a> -->
    </div>
  
    <% include ../../pages/footer %>
   
    </div>
</body>
	<script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
	<script src="http://langtalk-development-1-jlange0102670038.codeanyapp.com/js/framework.js"></script>
	<script src="https://semantic-ui.com/dist/semantic.min.js"></script>
  <script>
  $('.ui.dropdown')
  .dropdown();</script>
</html>
 